USE [master]
GO
/****** Object:  Database [ArteDigitalTest]    Script Date: 2/26/2018 4:33:02 PM ******/
CREATE DATABASE [ArteDigitalTest]
 CONTAINMENT = NONE 
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArteDigitalTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArteDigitalTest]
GO
/****** Object:  Table [dbo].[ACC_TRANSACTION]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACC_TRANSACTION](
	[TXN_ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[AMOUNT] [float] NOT NULL,
	[FUNDS_AVAIL_DATE] [datetime] NOT NULL,
	[TXN_DATE] [datetime] NOT NULL,
	[TXN_TYPE_CD] [varchar](10) NULL,
	[ACCOUNT_ID] [int] NULL,
	[EXECUTION_BRANCH_ID] [int] NULL,
	[TELLER_EMP_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TXN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ACCOUNT_ID] [int] IDENTITY(1,1) NOT NULL,
	[AVAIL_BALANCE] [float] NULL,
	[CLOSE_DATE] [datetime] NULL,
	[LAST_ACTIVITY_DATE] [datetime] NULL,
	[OPEN_DATE] [datetime] NOT NULL,
	[PENDING_BALANCE] [float] NULL,
	[STATUS] [varchar](10) NULL,
	[CUST_ID] [int] NULL,
	[OPEN_BRANCH_ID] [int] NOT NULL,
	[OPEN_EMP_ID] [int] NOT NULL,
	[PRODUCT_CD] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BRANCH](
	[BRANCH_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS] [varchar](30) NULL,
	[CITY] [varchar](20) NULL,
	[NAME] [varchar](20) NOT NULL,
	[STATE] [varchar](10) NULL,
	[ZIP_CODE] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BUSINESS]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUSINESS](
	[INCORP_DATE] [datetime] NULL,
	[NAME] [varchar](255) NOT NULL,
	[STATE_ID] [varchar](10) NOT NULL,
	[CUST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS] [varchar](30) NULL,
	[CITY] [varchar](20) NULL,
	[CUST_TYPE_CD] [varchar](1) NOT NULL,
	[FED_ID] [varchar](12) NOT NULL,
	[POSTAL_CODE] [varchar](10) NULL,
	[STATE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMP_ID] [int] IDENTITY(1,1) NOT NULL,
	[END_DATE] [datetime] NULL,
	[FIRST_NAME] [varchar](20) NOT NULL,
	[LAST_NAME] [varchar](20) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[TITLE] [varchar](20) NULL,
	[ASSIGNED_BRANCH_ID] [int] NULL,
	[DEPT_ID] [int] NULL,
	[SUPERIOR_EMP_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INDIVIDUAL]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INDIVIDUAL](
	[BIRTH_DATE] [datetime] NULL,
	[FIRST_NAME] [varchar](30) NOT NULL,
	[LAST_NAME] [varchar](30) NOT NULL,
	[CUST_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OFFICER]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OFFICER](
	[OFFICER_ID] [int] IDENTITY(1,1) NOT NULL,
	[END_DATE] [datetime] NULL,
	[FIRST_NAME] [varchar](30) NOT NULL,
	[LAST_NAME] [varchar](30) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[TITLE] [varchar](20) NULL,
	[CUST_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OFFICER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_CD] [varchar](10) NOT NULL,
	[DATE_OFFERED] [datetime] NULL,
	[DATE_RETIRED] [datetime] NULL,
	[NAME] [varchar](50) NOT NULL,
	[PRODUCT_TYPE_CD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCT_TYPE]    Script Date: 2/26/2018 4:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCT_TYPE](
	[PRODUCT_TYPE_CD] [varchar](255) NOT NULL,
	[NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCT_TYPE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ACC_TRANSACTION] ON 

INSERT [dbo].[ACC_TRANSACTION] ([TXN_ID], [AMOUNT], [FUNDS_AVAIL_DATE], [TXN_DATE], [TXN_TYPE_CD], [ACCOUNT_ID], [EXECUTION_BRANCH_ID], [TELLER_EMP_ID]) VALUES (CAST(1 AS Numeric(19, 0)), 75, CAST(N'2000-01-15 00:00:00.000' AS DateTime), CAST(N'2000-01-15 00:00:00.000' AS DateTime), N'CDT', 1, 1, 9)
INSERT [dbo].[ACC_TRANSACTION] ([TXN_ID], [AMOUNT], [FUNDS_AVAIL_DATE], [TXN_DATE], [TXN_TYPE_CD], [ACCOUNT_ID], [EXECUTION_BRANCH_ID], [TELLER_EMP_ID]) VALUES (CAST(2 AS Numeric(19, 0)), 55, CAST(N'2000-01-15 00:00:00.000' AS DateTime), CAST(N'2000-01-15 00:00:00.000' AS DateTime), N'CDT', 2, 1, 7)
INSERT [dbo].[ACC_TRANSACTION] ([TXN_ID], [AMOUNT], [FUNDS_AVAIL_DATE], [TXN_DATE], [TXN_TYPE_CD], [ACCOUNT_ID], [EXECUTION_BRANCH_ID], [TELLER_EMP_ID]) VALUES (CAST(3 AS Numeric(19, 0)), 90, CAST(N'2004-06-30 00:00:00.000' AS DateTime), CAST(N'2004-06-30 00:00:00.000' AS DateTime), N'CDT', 3, 1, 7)
SET IDENTITY_INSERT [dbo].[ACC_TRANSACTION] OFF
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ACCOUNT_ID], [AVAIL_BALANCE], [CLOSE_DATE], [LAST_ACTIVITY_DATE], [OPEN_DATE], [PENDING_BALANCE], [STATUS], [CUST_ID], [OPEN_BRANCH_ID], [OPEN_EMP_ID], [PRODUCT_CD]) VALUES (1, 1057.75, NULL, CAST(N'2005-01-04 00:00:00.000' AS DateTime), CAST(N'2000-01-15 00:00:00.000' AS DateTime), 1057.75, N'ACTIVE', 1, 2, 10, N'CHK')
INSERT [dbo].[ACCOUNT] ([ACCOUNT_ID], [AVAIL_BALANCE], [CLOSE_DATE], [LAST_ACTIVITY_DATE], [OPEN_DATE], [PENDING_BALANCE], [STATUS], [CUST_ID], [OPEN_BRANCH_ID], [OPEN_EMP_ID], [PRODUCT_CD]) VALUES (2, 500, NULL, CAST(N'2004-12-19 00:00:00.000' AS DateTime), CAST(N'2000-01-15 00:00:00.000' AS DateTime), 500, N'ACTIVE', 1, 2, 10, N'SAV')
INSERT [dbo].[ACCOUNT] ([ACCOUNT_ID], [AVAIL_BALANCE], [CLOSE_DATE], [LAST_ACTIVITY_DATE], [OPEN_DATE], [PENDING_BALANCE], [STATUS], [CUST_ID], [OPEN_BRANCH_ID], [OPEN_EMP_ID], [PRODUCT_CD]) VALUES (3, 3000, NULL, CAST(N'2004-06-30 00:00:00.000' AS DateTime), CAST(N'2004-06-30 00:00:00.000' AS DateTime), 3000, N'ACTIVE', 1, 2, 10, N'CD')
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
SET IDENTITY_INSERT [dbo].[BRANCH] ON 

INSERT [dbo].[BRANCH] ([BRANCH_ID], [ADDRESS], [CITY], [NAME], [STATE], [ZIP_CODE]) VALUES (1, N'3882 Main St.', N'Waltham', N'Headquarters', N'MA', N'02451')
INSERT [dbo].[BRANCH] ([BRANCH_ID], [ADDRESS], [CITY], [NAME], [STATE], [ZIP_CODE]) VALUES (2, N'422 Maple St.', N'Woburn', N'Woburn Branch', N'MA', N'01801')
INSERT [dbo].[BRANCH] ([BRANCH_ID], [ADDRESS], [CITY], [NAME], [STATE], [ZIP_CODE]) VALUES (3, N'125 Presidential Way', N'Quincy', N'Quincy Branch', N'MA', N'02169')
SET IDENTITY_INSERT [dbo].[BRANCH] OFF
INSERT [dbo].[BUSINESS] ([INCORP_DATE], [NAME], [STATE_ID], [CUST_ID]) VALUES (CAST(N'1995-05-01 00:00:00.000' AS DateTime), N'Chilton Engineering', N'12-345-678', 10)
INSERT [dbo].[BUSINESS] ([INCORP_DATE], [NAME], [STATE_ID], [CUST_ID]) VALUES (CAST(N'2001-01-01 00:00:00.000' AS DateTime), N'Northeast Cooling Inc.', N'23-456-789', 11)
INSERT [dbo].[BUSINESS] ([INCORP_DATE], [NAME], [STATE_ID], [CUST_ID]) VALUES (CAST(N'2002-06-30 00:00:00.000' AS DateTime), N'Superior Auto Body', N'34-567-890', 12)
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([CUST_ID], [ADDRESS], [CITY], [CUST_TYPE_CD], [FED_ID], [POSTAL_CODE], [STATE]) VALUES (1, N'47 Mockingbird Ln', N'Lynnfield', N'I', N'111-11-1111', N'01940', N'MA')
INSERT [dbo].[CUSTOMER] ([CUST_ID], [ADDRESS], [CITY], [CUST_TYPE_CD], [FED_ID], [POSTAL_CODE], [STATE]) VALUES (2, N'372 Clearwater Blvd', N'Woburn', N'I', N'222-22-2222', N'01801', N'MA')
INSERT [dbo].[CUSTOMER] ([CUST_ID], [ADDRESS], [CITY], [CUST_TYPE_CD], [FED_ID], [POSTAL_CODE], [STATE]) VALUES (3, N'18 Jessup Rd', N'Quincy', N'I', N'333-33-3333', N'02169', N'MA')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [NAME]) VALUES (1, N'Operations')
INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [NAME]) VALUES (2, N'Loans')
INSERT [dbo].[DEPARTMENT] ([DEPT_ID], [NAME]) VALUES (3, N'Administration')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EMP_ID], [END_DATE], [FIRST_NAME], [LAST_NAME], [START_DATE], [TITLE], [ASSIGNED_BRANCH_ID], [DEPT_ID], [SUPERIOR_EMP_ID]) VALUES (1, NULL, N'Michael', N'Smith', CAST(N'2001-06-22 00:00:00.000' AS DateTime), N'President', 1, 3, NULL)
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [END_DATE], [FIRST_NAME], [LAST_NAME], [START_DATE], [TITLE], [ASSIGNED_BRANCH_ID], [DEPT_ID], [SUPERIOR_EMP_ID]) VALUES (2, NULL, N'Susan', N'Barker', CAST(N'2002-09-12 00:00:00.000' AS DateTime), N'Vice President', 1, 3, NULL)
INSERT [dbo].[EMPLOYEE] ([EMP_ID], [END_DATE], [FIRST_NAME], [LAST_NAME], [START_DATE], [TITLE], [ASSIGNED_BRANCH_ID], [DEPT_ID], [SUPERIOR_EMP_ID]) VALUES (3, NULL, N'Robert', N'Tyler', CAST(N'2000-02-09 00:00:00.000' AS DateTime), N'Treasurer', 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
INSERT [dbo].[INDIVIDUAL] ([BIRTH_DATE], [FIRST_NAME], [LAST_NAME], [CUST_ID]) VALUES (CAST(N'1972-04-22 00:00:00.000' AS DateTime), N'James', N'Hadley', 1)
INSERT [dbo].[INDIVIDUAL] ([BIRTH_DATE], [FIRST_NAME], [LAST_NAME], [CUST_ID]) VALUES (CAST(N'1968-08-15 00:00:00.000' AS DateTime), N'Susan', N'Tingley', 2)
INSERT [dbo].[INDIVIDUAL] ([BIRTH_DATE], [FIRST_NAME], [LAST_NAME], [CUST_ID]) VALUES (CAST(N'1958-02-06 00:00:00.000' AS DateTime), N'Frank', N'Tucker', 3)
SET IDENTITY_INSERT [dbo].[OFFICER] ON 

INSERT [dbo].[OFFICER] ([OFFICER_ID], [END_DATE], [FIRST_NAME], [LAST_NAME], [START_DATE], [TITLE], [CUST_ID]) VALUES (1, NULL, N'John', N'Chilton', CAST(N'1995-05-01 00:00:00.000' AS DateTime), N'President', 10)
INSERT [dbo].[OFFICER] ([OFFICER_ID], [END_DATE], [FIRST_NAME], [LAST_NAME], [START_DATE], [TITLE], [CUST_ID]) VALUES (2, NULL, N'Paul', N'Hardy', CAST(N'2001-01-01 00:00:00.000' AS DateTime), N'President', 11)
INSERT [dbo].[OFFICER] ([OFFICER_ID], [END_DATE], [FIRST_NAME], [LAST_NAME], [START_DATE], [TITLE], [CUST_ID]) VALUES (3, NULL, N'Carl', N'Lutz', CAST(N'2002-06-30 00:00:00.000' AS DateTime), N'President', 12)
SET IDENTITY_INSERT [dbo].[OFFICER] OFF
INSERT [dbo].[PRODUCT] ([PRODUCT_CD], [DATE_OFFERED], [DATE_RETIRED], [NAME], [PRODUCT_TYPE_CD]) VALUES (N'AUT', CAST(N'2000-01-01 00:00:00.000' AS DateTime), NULL, N'auto loan', N'LOAN')
INSERT [dbo].[PRODUCT] ([PRODUCT_CD], [DATE_OFFERED], [DATE_RETIRED], [NAME], [PRODUCT_TYPE_CD]) VALUES (N'BUS', CAST(N'2000-01-01 00:00:00.000' AS DateTime), NULL, N'business line of credit', N'LOAN')
INSERT [dbo].[PRODUCT] ([PRODUCT_CD], [DATE_OFFERED], [DATE_RETIRED], [NAME], [PRODUCT_TYPE_CD]) VALUES (N'CD', CAST(N'2000-01-01 00:00:00.000' AS DateTime), NULL, N'certificate of deposit', N'ACCOUNT')
INSERT [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_CD], [NAME]) VALUES (N'ACCOUNT', N'Customer Accounts')
INSERT [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_CD], [NAME]) VALUES (N'INSURANCE', N'Insurance Offerings')
INSERT [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_CD], [NAME]) VALUES (N'LOAN', N'Individual and Business Loans')
ALTER TABLE [dbo].[ACC_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [ACC_TRANSACTION_ACCOUNT_FK] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[ACCOUNT] ([ACCOUNT_ID])
GO
ALTER TABLE [dbo].[ACC_TRANSACTION] CHECK CONSTRAINT [ACC_TRANSACTION_ACCOUNT_FK]
GO
ALTER TABLE [dbo].[ACC_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [ACC_TRANSACTION_BRANCH_FK] FOREIGN KEY([EXECUTION_BRANCH_ID])
REFERENCES [dbo].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[ACC_TRANSACTION] CHECK CONSTRAINT [ACC_TRANSACTION_BRANCH_FK]
GO
ALTER TABLE [dbo].[ACC_TRANSACTION]  WITH CHECK ADD  CONSTRAINT [ACC_TRANSACTION_EMPLOYEE_FK] FOREIGN KEY([TELLER_EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[ACC_TRANSACTION] CHECK CONSTRAINT [ACC_TRANSACTION_EMPLOYEE_FK]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ACCOUNT_BRANCH_FK] FOREIGN KEY([OPEN_BRANCH_ID])
REFERENCES [dbo].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [ACCOUNT_BRANCH_FK]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ACCOUNT_CUSTOMER_FK] FOREIGN KEY([CUST_ID])
REFERENCES [dbo].[CUSTOMER] ([CUST_ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [ACCOUNT_CUSTOMER_FK]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ACCOUNT_EMPLOYEE_FK] FOREIGN KEY([OPEN_EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [ACCOUNT_EMPLOYEE_FK]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [ACCOUNT_PRODUCT_FK] FOREIGN KEY([PRODUCT_CD])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_CD])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [ACCOUNT_PRODUCT_FK]
GO
ALTER TABLE [dbo].[BUSINESS]  WITH CHECK ADD  CONSTRAINT [BUSINESS_EMPLOYEE_FK] FOREIGN KEY([CUST_ID])
REFERENCES [dbo].[CUSTOMER] ([CUST_ID])
GO
ALTER TABLE [dbo].[BUSINESS] CHECK CONSTRAINT [BUSINESS_EMPLOYEE_FK]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [EMPLOYEE_BRANCH_FK] FOREIGN KEY([ASSIGNED_BRANCH_ID])
REFERENCES [dbo].[BRANCH] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [EMPLOYEE_BRANCH_FK]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [EMPLOYEE_DEPARTMENT_FK] FOREIGN KEY([DEPT_ID])
REFERENCES [dbo].[DEPARTMENT] ([DEPT_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [EMPLOYEE_DEPARTMENT_FK]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [EMPLOYEE_EMPLOYEE_FK] FOREIGN KEY([SUPERIOR_EMP_ID])
REFERENCES [dbo].[EMPLOYEE] ([EMP_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [EMPLOYEE_EMPLOYEE_FK]
GO
ALTER TABLE [dbo].[INDIVIDUAL]  WITH CHECK ADD  CONSTRAINT [INDIVIDUAL_CUSTOMER_FK] FOREIGN KEY([CUST_ID])
REFERENCES [dbo].[CUSTOMER] ([CUST_ID])
GO
ALTER TABLE [dbo].[INDIVIDUAL] CHECK CONSTRAINT [INDIVIDUAL_CUSTOMER_FK]
GO
ALTER TABLE [dbo].[OFFICER]  WITH CHECK ADD  CONSTRAINT [OFFICER_CUSTOMER_FK] FOREIGN KEY([CUST_ID])
REFERENCES [dbo].[CUSTOMER] ([CUST_ID])
GO
ALTER TABLE [dbo].[OFFICER] CHECK CONSTRAINT [OFFICER_CUSTOMER_FK]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [PRODUCT_PRODUCT_TYPE_FK] FOREIGN KEY([PRODUCT_TYPE_CD])
REFERENCES [dbo].[PRODUCT_TYPE] ([PRODUCT_TYPE_CD])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [PRODUCT_PRODUCT_TYPE_FK]
GO
USE [master]
GO
